*{
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

#partContainer{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}
::selection {
    color: rgb(255, 206, 115);
}
a{
    text-decoration: none;
    color: inherit;
}
.f_date::selection{
    color: #723636 !important;
}
span {
    height: 2px;
    margin:1px;
    width: 7vh;
    background: #f4f5f6;
    transition: all 0.3s;
    display: block;
    position: absolute;
}
#span1{
    left: 38%;
    top: 75%;
    transform: rotate(-45deg);
}
#span2{
    left:-11%;
    top: 75%;
    transform: rotate(45deg);
}
#span3{
    left: -2px;
    top: 50%;
    width: 0px;
    transform: rotate(-45deg);
}
#span4{
    left: 97%;
    top: 50%;
    width: 0px;
    transform: rotate(45deg);
}
#arrowDown:hover #span3{
    left: -11%;
    top: 26%;
    width: 7vh;
}
#arrowDown:hover #span4{
    left: 38%;
    top: 26%;
    width: 7vh;
}
#span5{
    left: 23%;
    top: 50%;
    width: 5vh;
    transform: rotate(90deg);
}
#span6{
    left:22%;
    top:63%;
    width: 3vh;
    transform: rotate(45deg);
}
#span7{
    left:44%;
    top: 63%;
    width: 3vh;
    transform: rotate(-45deg);
}
#arrowDown{
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -102%);
}
img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#part5{
    background-color: #2A2A2A;
}
.screenpart{
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: start;
    position: relative;
}
#part1{
    background-color: #27213D;
    text-align: center;
    position: relative;
    color: rgba(245, 245, 245, 0.9);
    user-select: none;
    background: url(../images/minimalist_cerf.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#name{
    font-size: 7vw;
    font-weight: 100;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-family: "Kaushan Script", sans-serif;
}
#name:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: rgb(255, 255, 255);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
#name:hover:after {
    width: 95%;
    background: rgb(255, 255, 255);
}
#part2{
    background-color: #F2F2F2;
}
#part3{
    background-color: #2b2b3a;
}
.container{
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    height: 33.33%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}
.formation{
    background-color: #fff;
    width: calc(50% - 16px);
    min-width: unset;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    overflow: hidden;
}
h1{
    font-size: 2.5vw;
    margin-bottom: 15px;
    font-weight: 500;
}
h1::before{
    content: "|";
    margin-left: 10px;
}
.f_content{
    background-color: #2b2b3a;
    color: whitesmoke;
    width: 80%;
    flex-grow:9999;
    min-height: 80%;
}
.f_date{
    background-color: rgb(255, 215, 142);
    display: flex;
    font-size: 1.8vh;
    width: 30%;
    flex-basis:142px;
    flex-grow: 1;
    text-align: center;
    justify-content:center;
    flex-direction:column;
    min-height: 20%;
    user-select: none;
}
.f_title{
    font-size: 3.5vh;
    padding-left: 15px;
    font-weight: 200;
}
.row .formation:nth-of-type(2) .f_date{
    flex-basis:142px;
}
.f_description{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 1.5vh;
    top: 50%;
    transform: translateY(10%);
    text-align: justify;
}
.f_description::before{
    content: '\A';
    white-space: pre;
}
.f_place{
    font-size: 2vh;
    display: inline;
}
.f_school{
    padding-left: 15px;
    font-size: 2vh;
    display: inline;
}
.f_school::after{
    content: ' - ';
}
#exp_timeline{
    background-image: linear-gradient(to right, #FF9E36, #FE6E17, #DC2A4A,#B62068, #902A7E, #7A2A8D);
    height: 12vw;
    width: 80%;
    margin: auto;
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 0px 8px 6px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 6px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 6px -5px rgba(0,0,0,0.75);
}
.front{
    position: absolute;
    width: 8vw;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 22);
    height: 15vw;
    margin-top: 50vh;
    z-index: 3;
    -webkit-box-shadow: -5px 2px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 2px 5px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 2px 5px -4px rgba(0,0,0,0.75);
}
.back{
    position: absolute;
    width: 8vw;
    background-color: rgb(151, 150, 150);
    height: 15vw;
    margin-top: 50vh;
    z-index: 1;
}
.front:nth-of-type(1){
    left: 22%;
    transform: translate(-50%,-50%) skew(20deg);
}
.back:nth-of-type(1){
    left: calc(22% + 5.55vw);
    transform: translate(-50%,-50%) skew(-20deg);
}
.front:nth-of-type(2){
    left: calc(22% + 11.05vw);
    transform: translate(-50%,-50%) skew(20deg);
}
.back:nth-of-type(2){
    left: calc(22% + 16.6vw);
    transform: translate(-50%,-50%) skew(-20deg);
}
.front:nth-of-type(3){
    left: calc(22% + 22.1vw);
    transform: translate(-50%,-50%) skew(20deg);
}
.back:nth-of-type(3){
    left: calc(22% + 27.60vw);
    transform: translate(-50%,-50%) skew(-20deg);
}
.front:nth-of-type(4){
    left: calc(22% + 33.15vw);
    transform: translate(-50%,-50%) skew(20deg);
}
.back:nth-of-type(4){
    left: calc(22% + 38.65vw);
    transform: translate(-50%,-50%) skew(-20deg);
}
.front:nth-of-type(5){
    left: calc(22% + 44.2vw);
    transform: translate(-50%,-50%) skew(20deg);
}
.back:nth-of-type(5){
    left: calc(22% + 49.7vw);
    transform: translate(-50%,-50%) skew(-20deg);
}
.front:nth-of-type(6){
    left: calc(22% + 55.25vw);
    transform: translate(-50%,-50%) skew(20deg);
}
.front_content{
    transform: skew(-20deg);
    height: 15vw;
}
.exp_entreprise{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2vw;
    white-space: nowrap;
}
.exp_poste{
    padding-top: 5%;
    font-size: 0.8vw;
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-align: justify;
}
.exp_annee{
    white-space: nowrap;
    font-size: 1vw;
    position: absolute;
    top: 98%;
    left: 80%;
    transform: translate(-50%,-99%);
    text-align: right;
}
.front:nth-of-type(1) p::selection{
    color: #7A2A8D;
}
.front:nth-of-type(2) p::selection{
    color: #902A7E;
}
.front:nth-of-type(3) p::selection{
    color: #B62068;
}
.front:nth-of-type(4) p::selection{
    color: #DC2A4A;
}
.front:nth-of-type(5) p::selection{
    color: #FE6E17;
}
.front:nth-of-type(6) p::selection{
    color: #FF9E36;
}
#part3 h1{
    position: absolute;
    color: whitesmoke;
    margin-left: calc(10% - 15px);
    margin-top: 5%;
    font-weight: 400;
}
#part4{
    background-color: #F2F2F2;
}
.skills{
    position: absolute;
    height: 6vw;
    width: 6vw;
    line-height: 5.6vw;
    border-radius: 50%;
    font-size: 1.5vw;
    text-align: center;
    z-index: 999;
    color: white;
    overflow: hidden;
    transition: all 0.01s linear;
    background-image: linear-gradient(to right, #FF9E36, #FE6E17, #DC2A4A,#B62068, #902A7E, #7A2A8D);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    user-select: none;
}
.skillsFixed{
    position: absolute;
    height: 6vw;
    width: 6vw;
    line-height: 5.6vw;
    border-radius: 50%;
    font-size: 1.5vw;
    text-align: center;
    z-index: 999;
    color: white;
    overflow: hidden;
    transition: all 0.01s linear;
}
#me{
    left: calc(50% - 10vw);
    top: calc(50% - 10vw);
    height: 20vw;
    width: 20vw;
    background-image: url(../images/IMG_2576.JPG);
    -webkit-background-size: cover;
    background-size: 150%;
    background-position: left;
    background-attachment: inherit;
    background-repeat: no-repeat;
    z-index: 9999;
}
#web{
    left: 25.64%;
    top: 51.63%;
}
#database{
    left: 39.68%;
    top: 70.27%;
}
#logiciel{
    left: 63.8%;
    top: 16.3%;
    font-size: 1.3vw;
}
#langues{
    left: 62%;
    top: 54.6%;
}
#language{
    left: 38.1%;
    top: 5%;
    font-size: 1.2vw;
}
#oracle{
    left: 30.2%;
    top: 75.90%;
}
#postgres{
    font-size: 1.1vw;
    left: 46.325%;
    top: 82.36%;
}
#mysql{
    left: 52.81%;
    top: 69.48%;
}
#php{
    left: 12.23%;
    top: 38.28%;
}
#laravel{
    left: 2.7%;
    top: 54.1%;
}
#wordpress{
    left: 2.17%;
    top: 23.42%;
    font-size: 1.1vw;
}
#html{
    left: 14.01%;
    top: 60.38%;
}
#css{
    left: 2.78%;
    top: 70.24%;
}
#js{
    left: 18.31%;
    top: 78.35%;
}
#programmation{
    left: 68.75%;
    top: 33.7%;
}
#bureautique{
    left: 79.3%;
    top: 4.9%;
    font-size: 1vw;
}
#eclipse{
    left: 87.23%;
    top: 48.82%;
}
#VS2017{
    left: 75.08%;
    top: 56.1%;
}
#word{
    left: 93.3%;
    top: 2.71%;
}
#ppt{
    left: 78.5%;
    top: 29.72%;
    font-size: 1.1vw;
}
#excel{
    left: 90.66%;
    top: 24.65%;
}
#francais{
    left: 76.60%;
    top: 75.13%;
}
#anglais{
    left: 66.45%;
    top: 78.6%;
}
#cpp{
    left: 24.63%;
    top: 13.05%;
    font-size: 1.3vw;
}
#java{
    left: 31.08%;
    top: 33.08%;
}
#python{
    left: 47.54%;
    top: 16%;
}
#sql{
    left: 13.75%;
    top: 2.15%;
}
#odoo{
    left: 55.04%;
    top: 1.25%;
}
#spring{
    left: 16.33%;
    top: 23.05%;
}
line{
    stroke-width:0.25vw;
    stroke: rgba(0, 0, 0, 0.5);
}
svg{
    width: 100vw;
    height: inherit;
}